{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-5">

        <div class="card shadow p-4">

            <h2 class="mb-4 text-center">
                Forgot Password
            </h2>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-primary w-100">
                    Send Reset Link
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}