{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-6">

        <div class="card shadow-lg border-0 rounded-4">

            <div class="card-body p-5">

                <h2 class="text-center mb-4 fw-bold">
                    Create Account 🚀
                </h2>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">
                            Username
                        </label>
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Email
                        </label>
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Password
                        </label>
                        {{ form.password1 }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Confirm Password
                        </label>
                        {{ form.password2 }}
                    </div>

                    <button class="btn btn-primary w-100 py-2">
                        Register
                    </button>

                </form>

                <p class="text-center mt-3">
                    Already have an account?
                    <a href="/login/">
                        Login
                    </a>
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}