{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4 text-center">
        🤖 AI Financial Suggestions
    </h2>

    <div class="card shadow p-4">

        <h4>Total Spending: ₹{{ total }}</h4>

        <hr>

        <ul class="list-group">

            {% for suggestion in suggestions %}

            <li class="list-group-item">
                {{ suggestion }}
            </li>

            {% endfor %}

        </ul>

    </div>

</div>

{% endblock %}